* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcfcfc; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}

.container {
    background-color: #ffffff;
    border: 1px solid #9b9b9b;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 860px; 
    padding: 45px 50px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

#formProducto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 18px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group:nth-child(7),
.form-group:nth-child(8),
.form-group:nth-child(9) {
    grid-column: span 2;
}

label {
    font-size: 16px;
    margin-bottom: 6px;
    color: #333;
}

input[type="text"],
select,
textarea {
    border: 1px solid #7a7a7a; 
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 15px;
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

select {
    height: 38px;
    background-color: #fff;
}

textarea {
    min-height: 70px;    
    max-height: none;    
    resize: vertical;
    line-height: 1.4;
    padding: 8px 12px;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px 0 10px 0;
    margin-top: -2px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}


.checkbox-item input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color: #0075ff; 
    cursor: pointer;
    margin-top: -4px;
}


.btn-guardar {
    background-color: #1eb08d;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 110px; 
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin: 25px auto 0;
    width: fit-content;
    transition: background 0.2s;
}

.btn-guardar:hover {
    background-color: #179678;
}

@media (max-width: 600px) {
    #formProducto {
        grid-template-columns: 1fr;
    }
    .form-group:nth-child(7),
    .form-group:nth-child(8),
    .form-group:nth-child(9) {
        grid-column: span 1;
    }
}